*,
*::before *::after {
  box-sizing: border-box;
}

:root {
  --font-primary: "Inter", "Noto Sans", Helvetica, Arial, sans-serif;
  --font-display: "Inter", "Noto Sans", Helvetica, Arial, sans-serif;

  /* for scroll bar */
  --custom-scrollbar-width: 10px;
  --custom-scrollbar-margin: 1px;
  --custom-scrollbar-border-radius: calc(var(--custom-scrollbar-width) / 2);

  /* background colours for main, side bar, server bar */
  --background-primary: oklab(0.321088 -0.000220731 -0.00934622);
  --background-secondary: oklab(0.296332 -0.000731647 -0.00768477);
  --background-tertiary: oklab(0.23892 0.000131361 -0.00592163);

  /* nav bar: */
  /* for shadow under navbar */
  --elevation-low: rgba(2, 2, 2, 0.2) 0px 1px 0px 0px;

  /* for title h1*/
  --header-primary: oklab(0.963963 -0.000228554 -0.00283051);

  /* for nav bar divider*/
  --background-modifier-accent: oklab(0.431937 0.00109309 -0.0132537 / 0.48);

  /* for normal btn */
  --interactive-normal: oklab(0.786807 -0.0025776 -0.0110238);

  /* for hovering */
  --background-modifier-hover: oklab(0.431938 0.00109309 -0.0132537 / 0.3);
  --interactive-hover: oklab(0.899401 -0.00192499 -0.00481987);

  /* for active btns */
  --interactive-active: oklab(0.999994 0.0000455678 0.0000200868);
  --background-modifier-selected: oklab(0.431938 0.00109309 -0.0132537 / 0.6);

  /* for search bar */
  --text-normal: oklab(0.899401 -0.00192499 -0.00481987);

  /* for friends heading in main */
  --header-secondary: oklab(0.786807 -0.0025776 -0.0110238);

  /* for friends list in main */
  --background-modifier-accent: oklab(0.431937 0.00109309 -0.0132537 / 0.48);
  --background-modifier-hover: oklab(0.431938 0.00109309 -0.0132537 / 0.3);

  --scrollbar-auto-track: color-mix(
    in oklab,
    var(--primary-630) 100%,
    var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
  );

  --scrollbar-auto-thumb: color-mix(
    in oklab,
    var(--primary-730) 100%,
    var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
  );

  --primary-630: hsl(var(--primary-630-hsl) / 1);
  --primary-630-hsl: 220 calc(var(--saturation-factor, 1) * 6.5%) 18%;

  --primary-730: hsl(var(--primary-730-hsl) / 1);
  --primary-730-hsl: 225 calc(var(--saturation-factor, 1) * 7.1%) 11%;

  /* for input box */
  --text-muted: oklab(0.686679 -0.00398019 -0.0150182);

  /* for side bar label */
  --channels-default: oklab(0.686679 -0.00398019 -0.0150182);
  
  /* background for active private channel */
  --background-modifier-active: oklab(0.431937 0.00109309 -0.0132537 / 0.48);

  /* for user profile in side bar */
  --background-secondary-alt: oklab(0.260828 0.000630535 -0.0075893);

  /* server bar */
  --bg-brand: rgb(88, 101, 242);

  --white: rgb(255, 255, 255);

  /* message background */
  --message-background: oklab(0.0852327 0.00000386313 0.00000170618 / 0.06);

  /* dm textbox textarea background */
  --channeltextarea-background: oklab(0.348481 0.000223666 -0.0107859);

  /* dm textbox textarea color */
  --channel-text-area-placeholder: oklab(0.543006 0.00145671 -0.0140392);

}

/* scrollbar */
::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-auto-track);
  border: 7px solid transparent;
  border-radius: 20px;
  margin: var(--custom-scrollbar-margin);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: padding-box;
}

textarea,
input,
::placeholder {
  font-weight: 400;
  color: var(--text-muted);
  font-size: 13px;
}

.main-search-input::placeholder {
  font-size: 15px;
}

.no-hover {
  cursor: default; /* Set default cursor for everything inside this div */
}

.no-hover a {
  cursor: pointer; /* Override cursor to pointer specifically for links */
}

.no-select {
  user-select: none; /* Prevent text selection */
}


.unstyle-list {
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
}

body {
  color: var(--text-normal);
  font-family: var(--font-primary);
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* .app-item {
  /* background-color: rgb(122, 244, 244); */
/* border: 1px solid black; */

.servers-bar {
  flex-shrink: 0;
  width: 72px;
  background-color: var(--background-tertiary);
}

.side-bar {
  flex-shrink: 0;
  width: 240px;
  background-color: var(--background-secondary);
}

.main {
  flex-grow: 1;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
}

/* nav bar in main */

.main-nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  min-height: 32px;
  box-shadow: var(--elevation-low);
  box-sizing: content-box;
}

.main-nav-bar {
  box-sizing: content-box;
  display: flex;
  position: relative;
  flex-grow: 1;
}

.nav-bar-title {
  color: var(--header-primary);
  display: flex;
  font-size: 16px;
  font-weight: 600;
}

.wave-icon-wrap,
.nav-bar-divider,
.support-icon-wrap,
.nav-tabs-item,
.profile-icon-wrap {
  margin-left: 8px;
  margin-right: 8px;
}

.nav-bar-divider {
  width: 1px;
  height: 24px;
  background-color: var(--background-modifier-accent);
}

.nav-tabs-item {
  padding: 2px 8px;
  color: var(--interactive-normal);
}

.nav-tabs-item:hover {
  background-color: var(--background-modifier-hover);
  border-radius: 3px;
  color: var(--interactive-hover);
  cursor: pointer;
}

.nav-tabs-item:active {
  background-color: var(--background-modifier-selected);
  border-radius: 3px;
  color: var(--interactive-active);
}

.nav-tabs-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav-title-wrapper {
  display: flex;
  margin-right: 8px;
}

.nav-bar-tabs {
  display: flex;
}

.right-bar {
  display: none;
  flex-shrink: 0;
  width: 232px;
  background-color: var(--background-secondary);
}

/* search bar */
.main-search-bar, .channel-search-bar {
  display: flex;
  /* margin: 16px 20px 8px 30px; */
  /* height: 34px; */
  background-color: var(--background-tertiary);
  justify-content: space-between;
  border-radius: 3px;
}

.main-search-input, .channel-search-input {
  background-color: transparent;
  /* padding: 0 8px; */
  flex-grow: 1;
  border: none;
  outline: 0;
  color: inherit;
}

.main-search-icon, .channel-search-icon {
  /* height: 32px;
  width: 32px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search-bar {
  margin: 16px 20px 8px 30px;
  height: 34px;
}

.main-search-input {
  padding: 0 8px;
}

.main-search-icon {
  height: 32px;
  width: 32px;
}

/* search bar channels */
.channel-search-bar {
  margin: 0 8px;
  /* width: 144px; */
}

.channel-search-input {
  padding: 2px 6px 2px 6px;
}

.channel-search-icon {
  height: 24px;
  width: 24px
}

.support-icon-wrap, .profile-icon-wrap {
  color: oklab(0.786807 -0.0025776 -0.0110238);
}

.support-icon-wrap:hover, .profile-icon-wrap:hover {
  color: oklab(0.899401 -0.00192499 -0.00481987);
}

/* channel info */
.channel-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 12px; 
}


/* heading for friend list */

.main-friends-heading {
  display: flex;
}

.friends-heading-text {
  font-family: var(--font-display);
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 16px 20px 8px 30px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: var(--header-secondary);
}

.main-friends-list {
  margin-top: 8px;
  overflow: hidden scroll;
  flex-grow: 1;
}

/* friends list */

.contains-friends {
  margin-top: 8px;
}

.friends-item::before {
  width: 98%;
  border-top: 1px solid var(--background-modifier-accent);
  border-top-width: 0.727273px;
  content: "";
  position: absolute;
  top: 0;
  left: 1%;
  right: 1%;

  /* display: block; */
}

.friends-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 30px;
  margin-right: 20px; */
  padding: 16px 10px;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 20px;
  cursor: pointer;
  /* border-top: 1px solid var(--background-modifier-accent); */
  border-bottom: 1px solid transparent;
  /* border-top-width: 0.727273px; */
  height: 62px;
  /* height: 100vh; */
  border-radius: 8px;
  position: relative;
}

.friends-item:hover {
  background-color: var(--background-modifier-hover);
}

.friends-item:hover::before {
  border-top-color: transparent;
}

.friend-info {
  display: flex;
  height: 40px;
  align-items: center;
  overflow: hidden;
  max-width: 90%;
}

.friend-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.wrap-avt-img {
  border-radius: 50%;
}

.friend-info-text {
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow: hidden;
}

.friend-info-name {
  display: flex;
  line-height: 20px;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-start;
}

.info-name-display {
  color: var(--header-primary);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-name-discriminator {
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 16px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: hidden;
}

.message-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: var(--interactive-normal);
  background-color: var(--background-secondary);
}

.friend-info-subtext {
  display: flex;
  justify-content: flex-start;
  color: var(--header-secondary);
  font-size: 12px;
  font-weight: 500;
}

.friends-item:hover .message-icon-wrapper {
  background-color: var(--background-tertiary);
}

.friends-item:hover .info-name-discriminator {
  visibility: visible;
}


/* side bar */

.side-bar-item {
  height: 62px;
}

/* scrollbar */
.side-bar-main::-webkit-scrollbar {
  width: 8px;
}

.side-bar-main::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

/* side search bar */

.side-bar {
  display: flex;
  flex-direction: column;
}

.side-bar-main {
  overflow: hidden scroll;
  flex-grow: 1;
}

.side-bar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-height: 48px;
  padding: 0 10px;
  box-shadow: var(--elevation-low);
}

.side-bar-input {
  background-color: var(--background-tertiary);
  border: none;
  outline: 0;
  flex-grow: 1;
  padding: 1px 6px;
  min-height: 28px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
}


/* side bar main heading */
.side-main-title {
  display: flex;
  margin-left: 8px;
  margin-top: 8px;
  min-height: 42px;
  padding-left: 8px;
  padding-right: 16px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  color: var(--channels-default)
}

.side-main-title:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}

.side-main-title:active {
  background-color: var(--background-modifier-active);
  color: var(--interactive-active);
}

.wave-main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  height: 32px;
  width: 32px;
  color: inherit;
}


.main-title-wrapper {
  flex-grow: 1;
}

.main-title-text {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  max-height: 20px;
  letter-spacing: 0.24px;
  color: inherit;
}

.side-bar-label {
  padding: 18px 8px 4px 18px;
  font-size: 12px;
  color: var(--channels-default);
}

.side-label-text {
  display: flex;
  font-size: 11.5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.24px;
}

.side-bar-label:hover {
  color: var(--interactive-hover);
}


/* dm list */

.dm-item {
  display: flex;
  height: 42px;
  margin-left: 8px;
  color: var(--channels-default);
  border-radius: 4px;
}

.dm-item:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
}

.dm-item:active {
  color: var(--interactive-active);
  background-color: var(--background-modifier-active);
}

.dm-info, .client-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  overflow: hidden;
  line-height: 16px;
  text-overflow: ellipsis;
  max-width: 100%;
}

.dm-icon-wrapper, .client-icon-wrapper {
  display: flex;
  align-items: center;
}

.dm-icon-wrapper {
  margin-right: 12px;
}

.dm-info-text, .client-info-text {
  overflow: hidden;
}

.dm-info-name, .client-info-name, .client-info-status, .client-status-status {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap-dm-img {
  border-radius: 50%;
}

/* side bar profile */
.side-bar-profile {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--background-secondary-alt);
  height: 52px;
}

.client-info {
  display: flex;
  align-items: center;
  padding-left: 2px;
  margin-left: 8px;
  border-radius: 4px;
  height: 39px;
  max-width: 80%;
}

.client-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0px 4px 8px;
}

.client-info-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--header-primary);
  max-width: 100%;
}

.client-info-status {
  font-size: 12px;
  color: var(--header-secondary);
  line-height: 13px;
  font-weight: 400;
  max-width: 100%;
  position: relative;
  height: 13px;
}

.client-status-status, .client-status-username {
  transition: all .22s ease;
  height: 13px;
}

.client-status-username {
  width: fit-content
}

/* client transformation */
.move-up {
  transform: translateY(-100%);
}

/* message icon transformation */

.bg-icon {
  background-color: var(--background-tertiary);
}

.client-info:hover {
  background-color: var(--background-modifier-selected);
}

/* Prevent horizontal scrollbar */
/* .app-item {
  overflow-x: hidden; 
} */

/* servers bar */

/* scrollbar */

.servers-bar-inner {
  overflow: scroll;
  max-height: 100%;
}

.servers-bar-inner {
  padding-top: 12px;
}

.servers-bar-inner::-webkit-scrollbar {
  display: none;
}

.server-list-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.friends-wrapper-inner:hover {
  background-color: var(--bg-brand);
  color: var(--white);
  border-radius: 30%;
}

.clicked-pill-icon.friends-wrapper-inner {
  background-color: var(--bg-brand);
}

.server-wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.server-icons-obj {
  border-radius: 50%;
  transition: all .15s ease-out;
}

.server-wrapper-inner:hover .server-icons-obj {
  border-radius: 30%;
}


.friends-wrapper-inner {
  background-color: var(--background-primary);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all .15s ease-out;
}

/* server bar divider */

.server-bar-divider {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.server-divider-inner {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: var(--background-modifier-accent);
}



/* .nav-bar-divider {
  width: 1px;
  height: 24px;
  background-color: var(--background-modifier-accent);
} */


/* server side pill */
.server-list-item {
  display: flex;
  position: relative;
  justify-content: center;
}

.server-side-pill {
  display: flex;
  align-items: center;
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
}

.server-pill-inside {
  background-color: var(--header-primary);
  width: 8px;
  margin-left: -4px;
  height: 1px;
  visibility: hidden;
  border-radius: 0 4px 4px 0;
  transition: all .1s ease-out;
}

.pill-hover {
  /* 20px */
  visibility: visible;
  height: 20px;
}

.pill-clicked {
  visibility: visible;
  height: 40px;
}

.clicked-pill-icon {
  background-color: var(--bg-brand);
}


/* tooltips */


.before,
.after {
  --scale: 0;
  --tooltip-color: #111214;
  --offset: 10px;
  position: fixed;
  z-index: 9999;
  transform: translateX(var(--translate-x, -50%)) translateY(var(--translate-y, -50%)) scale(var(--scale));
  transition: transform 50ms linear;

  pointer-events: none;
}


.before {
  background-color: var(--tooltip-color);
  color: var(--interactive-hover);
  width: max-content;
  border-radius: 5px;
  text-align: center;
}

.tt-right {
  --arrow-size: 5px;
}

.tt-right.before {
  --translate-x: calc(var(--arrow-size) + var(--offset) + 2px);
  transform-origin: left center;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: 600;
  max-width: 190px;
  text-align: left;
  max-height: 55px;
}


.tt-top {
  --arrow-size: 5.5px;
}

.tt-top.before {
  --translate-y: calc(-75% - var(--arrow-size) - var(--offset));
  transform-origin: bottom center;
  padding: 7px 13px 7px 13px;
  font-size: 12px;
}


.tt-bottom {
  --arrow-size: 5.5px;
}

.tt-bottom.before {
  --translate-y: calc(75% - var(--arrow-size) - var(--offset));
  transform-origin: top center;
  padding: 7px 13px 7px 13px;
  font-size: 12px;
}

.tt-bottom.before.tt-sp {
  --translate-x: -65%;
}


.tt-right.after {
  border: var(--arrow-size) solid transparent;
  --translate-x: calc(-1 * var(--arrow-size) + var(--offset) + 4px);
  transform-origin: right center;
  border-right-color: var(--tooltip-color);
}


.tt-top.after {
  border: var(--arrow-size) solid transparent;
  --translate-y: calc(-1 * var(--arrow-size) - 2px);
  transform-origin: top center;
  border-top-color: var(--tooltip-color);
}


.tt-bottom.after {
  border: var(--arrow-size) solid transparent;
  --translate-y: calc(1 * var(--arrow-size) - var(--offset) + 2px + 1px);
  transform-origin: bottom center;
  border-bottom-color: var(--tooltip-color);
}


.tooltips:hover .before,
.tooltips:hover .after {
  --scale: 1;
}

.tooltips:hover .before.tt-top.tt-sp,
.tooltips:hover .after.tt-top.tt-sp {
  transition-delay: 0.7s;
}


/* Channel inner */

/* .main-channel-wrap {
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  flex-grow: 1;
  overflow: hidden scroll;
} */

/* .main-channel-dm {
  flex-grow: 1;
} */

.main-channel-wrap {
  overflow: hidden scroll;
  height: 100%;
  padding-bottom: 24px;
}

.main-channel-textbox {
  min-height: 44px;
  background-color: var(--channeltextarea-background);
  margin-left: 16px;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.main-textbox-text {
  padding-top: 11px;
  margin-left: 55px;
  color: var(--channel-text-area-placeholder);
  font-size: 15px;
  width: fit-content;
}


.channel-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 0 16px;
}

.channel-user-title {
  margin: 8px 0;
  font-weight: 700;
  color: var(--header-primary);
  font-size: 32px;
  line-height: 1.25;
}

.channel-user-username {
  color: var(--header-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.channel-begin-text {
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 1.25;
}

strong {
  font-weight: 600;
}

.user-mutuals {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}

.mutuals-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.mutuals-mutual-servers {
  cursor: pointer;
  color: var(--interactive-normal);
  font-size: 13px;
  line-height: 1.2857142857142858;
}

.mutuals-mutual-servers:hover {
  color: var(--interactive-hover)
}

.channel-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 14px 8px 16px;
  background-color: var(--background-modifier-accent);
  height: 1px;
  width: 97%;
}

.channel-divider-timestamp {
  background-color: var(--background-primary);
  padding: 2px 4px;
  font-size: 11.5px;
  color: var(--text-muted);
  font-weight: 600;
  line-height: 13px;
}

/* channel messages */


.channel-message-primary, .channel-message-secondary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2px 46px 2px 72px;
  position: relative;
}

.channel-message-primary {
  margin-top: 17px;
}

.channel-message-primary:hover, .channel-message-secondary:hover {
  background-color: var(--message-background);
}

.channel-message-secondary:hover .secondary-time {
  display: inline;
}

/* is 48px itself */
.channel-message-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 16px;
  top: 4px;
}

.channel-message-info {
  display: flex;
  align-items: center;
}

.channel-message-sender {
  font-size: 15px;
  line-height: 1.375rem;
  color: var(--header-primary);
  font-weight: 500;
  margin-right: 4px;
}

.channel-message-sender:hover {
  text-decoration: underline;
  cursor: pointer;
}

.channel-message-timestamp, .secondary-time {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  /* margin-left: 4px; */
}

.channel-message-timestamp {
  margin-left: 4px;
}

.channel-message-content {
  font-size: 15px;
  line-height: 1.375rem;
  color: var(--text-normal);
  user-select: text;
  font-weight: 400;
}

.secondary-time {
  display: none;
  position: absolute;
  font-size: 0.65rem;
  left: 16px;
  text-align: center;
  z-index: 999;
}
