*,
*::before *::after {
  box-sizing: border-box;
}

:root {
  --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Symbols";
  --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Symbols";

  /* for scroll bar */
  --custom-scrollbar-width: 10px;
  --custom-scrollbar-margin: 1px;
  --custom-scrollbar-border-radius: calc(var(--custom-scrollbar-width) / 2);

  /* background colours for main, side bar, server bar */
  --background-primary: oklab(0.321088 -0.000220731 -0.00934622);
  --background-secondary: oklab(0.296332 -0.000731647 -0.00768477);
  --background-tertiary: oklab(0.23892 0.000131361 -0.00592163);

  /* nav bar: */
  /* for shadow under navbar */
  --elevation-low: rgba(2, 2, 2, 0.2) 0px 1px 0px 0px;

  /* for title h1*/
  --header-primary: oklab(0.963963 -0.000228554 -0.00283051);

  /* for nav bar divider*/
  --background-modifier-accent: oklab(0.431937 0.00109309 -0.0132537 / 0.48);

  /* for normal btn */
  --interactive-normal: oklab(0.786807 -0.0025776 -0.0110238);

  /* for hovering */
  --background-modifier-hover: oklab(0.431938 0.00109309 -0.0132537 / 0.3);
  --interactive-hover: oklab(0.899401 -0.00192499 -0.00481987);

  /* for active btns */
  --interactive-active: oklab(0.999994 0.0000455678 0.0000200868);
  --background-modifier-selected: oklab(0.431938 0.00109309 -0.0132537 / 0.6);

  /* for search bar */
  --background-tertiary: oklab(0.23892 0.000131361 -0.00592163);
  --text-normal: oklab(0.899401 -0.00192499 -0.00481987);

  /* for friends heading in main */
  --header-secondary: oklab(0.786807 -0.0025776 -0.0110238);

  /* for friends list in main */
  --background-modifier-accent: oklab(0.431937 0.00109309 -0.0132537 / 0.48);
  --background-modifier-hover: oklab(0.431938 0.00109309 -0.0132537 / 0.3);

  --scrollbar-auto-track: color-mix(
    in oklab,
    var(--primary-630) 100%,
    var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
  );

  --scrollbar-auto-thumb: color-mix(
    in oklab,
    var(--primary-730) 100%,
    var(--theme-base-color, black) var(--theme-base-color-amount, 0%)
  );

  --primary-630: hsl(var(--primary-630-hsl) / 1);
  --primary-630-hsl: 220 calc(var(--saturation-factor, 1) * 6.5%) 18%;

  --primary-730: hsl(var(--primary-730-hsl) / 1);
  --primary-730-hsl: 225 calc(var(--saturation-factor, 1) * 7.1%) 11%;


}

/* scrollbar */
::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-auto-track);
  border: 7px solid transparent;
  border-radius: 20px;
  margin: var(--custom-scrollbar-margin);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: padding-box;
}

textarea,
input,
::placeholder {
  font-weight: 400;
}

.no-hover {
  cursor: default; /* Set default cursor for everything inside this div */
}

.no-hover a {
  cursor: pointer; /* Override cursor to pointer specifically for links */
}

.no-select {
  user-select: none; /* Prevent text selection */
}

.unstyle-list {
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
}

body {
  color: var(--text-normal);
  font-family: var(--font-primary);
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* .app-item {
  /* background-color: rgb(122, 244, 244); */
/* border: 1px solid black; */

.servers-bar {
  flex-shrink: 0;
  width: 72px;
  background-color: var(--background-tertiary);
}

.side-bar {
  flex-shrink: 0;
  width: 240px;
  background-color: var(--background-secondary);
}

.main {
  flex-grow: 1;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
}

/* nav bar in main */

.main-nav-con {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  min-height: 32px;
  box-shadow: var(--elevation-low);
  box-sizing: content-box;
}

.main-nav-bar {
  box-sizing: content-box;
  display: flex;
  position: relative;
  flex-grow: 1;
}

.nav-bar-title {
  color: var(--header-primary);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.wave-icon-wrap,
.nav-bar-divider,
.support-icon-wrap,
.nav-tabs-item {
  margin-left: 8px;
  margin-right: 8px;
}

.support-icon-wrap {
  display: flex;
}

.nav-bar-divider {
  width: 1px;
  height: 24px;
  background-color: var(--background-modifier-accent);
}

.nav-tabs-item {
  padding: 2px 8px;
  color: var(--interactive-normal);
}

.nav-tabs-item:hover {
  background-color: var(--background-modifier-hover);
  border-radius: 3px;
  color: var(--interactive-hover);
  cursor: pointer;
}

.nav-tabs-item:active {
  background-color: var(--background-modifier-selected);
  border-radius: 3px;
  color: var(--interactive-active);
}

.nav-tabs-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav-title-wrapper {
  display: flex;
  margin-right: 8px;
}

.nav-bar-tabs {
  display: flex;
}

.right-bar {
  display: none;
  flex-shrink: 0;
  width: 232px;
  background-color: var(--background-secondary);
}

/* search bar */
.main-search-bar {
  display: flex;
  margin: 16px 20px 8px 30px;
  height: 34px;
  background-color: var(--background-tertiary);
  justify-content: space-between;
  border-radius: 3px;
}

.main-search-input {
  background-color: transparent;
  padding: 0 8px;
  flex-grow: 1;
  border: none;
  outline: 0;
  color: inherit;
}

.main-search-icon {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* heading for friend list */

.main-friends-heading {
  display: flex;
}

.friends-heading-text {
  font-family: var(--font-display);
  font-weight: 600;
  letter-spacing: 0.02em;
  margin: 16px 20px 8px 30px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: var(--header-secondary);
}

.main-friends-list {
  margin-top: 8px;
  overflow: hidden scroll;
  flex-grow: 1;
}

/* friends list */

.friends-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 30px;
  margin-right: 20px; */
  padding: 16px 10px;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 20px;
  cursor: pointer;
  border-top: 1px solid var(--background-modifier-accent);
  border-bottom: 1px solid transparent;
  border-top-width: 0.727273px;
  height: 62px;
  /* height: 100vh; */
  border-radius: 8px;
}

.friends-item:hover {
  background-color: var(--background-modifier-hover);
}

.friend-info {
  display: flex;
  height: 40px;
  align-items: center;
}

.friend-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.wrap-avt-img {
  border-radius: 50%;
}

.friend-info-text {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.friend-info-name {
  display: flex;
  line-height: 20px;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-start;
}

.info-name-display {
  color: var(--header-primary);
  font-weight: 600;
  text-overflow: ellipsis;
}

.info-name-discriminator {
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 16px;
  margin-left: 5px;
  /* visibility: hidden; */
}

.message-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: var(--interactive-normal);
  background-color: var(--background-secondary);
}

.friend-info-subtext {
  display: flex;
  justify-content: flex-start;
  color: var(--header-secondary);
  font-size: 12px;
  font-weight: 500;
}



/* side bar */

.side-bar-item {
  height: 62px;
}

/* scrollbar */
.side-bar-main::-webkit-scrollbar {
  width: 8px;
}

.side-bar-main::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

/* side search bar */

.side-bar {
  display: flex;
  flex-direction: column;
}

.side-bar-main {
  overflow: hidden scroll;
}

.side-bar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-height: 48px;
  padding: 0 10px;
  box-shadow: var(--elevation-low);
}

.side-bar-input {
  background-color: var(--background-tertiary);
  border: none;
  outline: 0;
  flex-grow: 1;
  padding: 1px 6px;
  min-height: 28px;
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
}


/* side bar main heading */
.side-main-title {
  display: flex;
  margin-left: 8px;
  margin-top: 8px;
  min-height: 42px;
  padding: 0 8px;
  justify-content: flex-start;
  align-items: center;
}

/* .side-main-title:hover {
  background-color: var(--background-secondary);
} */

.wave-main-wrap {
  margin-right: 12px;
}

.main-title-wrapper {
  flex-grow: 1;
}

.main-title-text {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}