:root {
    --img-size: 250px;
}    

body {
    background-color: rgb(16, 48, 61);
}    

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cat-img {
    width: auto;
    height: var(--img-size);
}


.cat-img-div {
    overflow: hidden;
    height: var(--img-size);
    width: var(--img-size);
    border-radius: 50%;
    transition: all 0.22s ease;
    cursor: pointer;
}    

.cat-img-div:hover {
    border-radius: 30%;
}    

.contains {
    position: relative;
}

.before,
.after {
    --scale: 1;
    --tooltip-color: black;
    --arrow-size: 10px;

    position: absolute;
    /* top: -3%;
    left: 50%; */
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: transform 0.15s ease;
    transform-origin: bottom;
}

.before {
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    width: max-content;
    /* max-width: 100%; */
    border-radius: 0.3rem;
    background: var(--tooltip-color);
}


/* .contains:hover::before,
.contains:hover::after {
    --scale: 1;
} */

.after {
    --translate-y: calc(-1 * var(--arrow-size));

    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin:top;
}

.nav-title-wrapper {
    display: flex;
    margin-right: 8px;
  }

.nav-bar-title {
    color: var(--header-primary);
    display: flex;
    font-size: 16px;
    font-weight: 600;
}

.limiting {
    background-color: aqua;
    padding: 10px;
}